@import url(normalise.css);
@import url(variables.css);
@import url(fonts.css);
@import url(switcher.css);
@import url(converter.css);
@import url(converter-nightshift.css);

body{
    background-color: var(--light-background);

    transition: all 0.3s;

}
.body-nightshift{
    background-color: var(--dark-background);
}